@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'); 

.img_center { position : absolute; top : 50%; left : 50%; transform: translate(-50%, -50%); width : 100%; max-width : 100%; height : auto; object-fit: cover; } 

button { cursor : pointer }
.btn { display : inline-block; border-radius : 0.3rem; transition : all .3s ease; } 
.btn_xs { padding: .125rem .25rem; font-size: .75rem; line-height: 1.5; border-radius: .15rem; } 
.btn_sm { padding: .25rem .5rem; font-size: .875rem; line-height: 1.5; border-radius: .2rem; } 
.btn_md { padding : 1.5rem } 
.btn_lg { padding : 2rem } 

.btn_flat { border-radius : 0 } 
.btn.disabled { cursor : not-allowed; opacity: .65; } 

.btn_block { display : block; width : 100% } 
.btn_default { background-color: #f9f9f9; border : 1px solid #e9e9e9; padding : .375rem .75rem } 
.btn_default_border { background : transparent; border : 1px solid #e9e9e9; padding : .375rem .75rem } 
.btn_large { padding: .5rem 1rem; font-size: 1.25rem; } 


.ellipsis { text-overflow : ellipsis; overflow : hidden; white-space: nowrap; } 

.flex { display : flex } 


.btn_primary { background-color : var(--primary); border-color : var(--primary); color : var(--white) } 
.btn_primary:hover { background-color: #0062cc; border-color : #0062cc } 
.btn_secondary { background-color : var(--secondary); border-color : var(--secondary); color : var(--white) } 
.btn_secondary:hover { background-color: #5a6268; border-color : #5a6268 } 
.btn_info { background-color : var(--info); border-color : var(--info); color : var(--white) } 
.btn_info:hover { background-color: #117a8b; border-color : #117a8b } 
.btn_success { background-color : var(--success); border-color : var(--success); color : var(--white) } 
.btn_success:hover { background-color: #218838; border-color : #218838 } 
.btn_warning { background-color : var(--warning); border-color : var(--warning); color : var(--white) } 
.btn_warning:hover { background-color: #d39e00; border-color : #d39e00 } 
.btn_danger { background-color : var(--danger); border-color : var(--danger); color : var(--white) } 
.btn_danger:hover { background-color: #c82333; border-color : #c82333 } 
.btn_black { background-color : var(--black); border-color : var(--black); color : var(--white) } 
.btn_black:hover { background-color : #333; border-color : #333 } 
.btn_darkgray { background-color : var(--darkgray); border-color : var(--darkgray); color : var(--white) } 
.btn_gray { background-color : var(--gray); border-color : var(--gray); color : var(--white) } 
.btn_light { background-color : var(--light); border-color : var(--gray); } 
.btn_light:hover { background-color : #f1f1f1; border-color : #f1f1f1; } 



.btn_primary_border { border-color : var(--primary); color : var(--primary) } 
.btn_primary_border:hover { background-color : var(--primary); color : var(--white) } 
.btn_secondary_border { border-color : var(--secondary); color : var(--secondary) } 
.btn_secondary_border:hover { background-color : var(--secondary); border-color : var(--secondary); color : var(--white) } 
.btn_info_border { border-color : var(--info); color : var(--info) } 
.btn_info_border:hover { background-color : var(--info); border-color : var(--info); color : var(--white) } 
.btn_success_border { border-color : var(--success); color : var(--success) } 
.btn_success_border:hover { background-color : var(--success); border-color : var(--success); color : var(--white) } 
.btn_warning_border { border-color : var(--warning); color : var(--warning) } 
.btn_warning:hover { background-color : var(--warning); border-color : var(--warning); color : var(--white) } 
.btn_danger_border { border-color : var(--danger); color : var(--danger) } 
.btn_danger_border:hover { background-color : var(--danger); border-color : var(--danger); color : var(--white) } 
.btn_black_border { border-color : var(--black); color : var(--black) } 
.btn_black_border:hover { background-color : var(--black); border-color : var(--black); color : var(--white) } 
.btn_gray_dark_border { border-color : var(--darkgray); color : var(--darkgray) } 
.btn_gray_dark_border { background-color : var(--darkgray); border-color : var(--darkgray); color : var(--white) } 
.btn_gray_border { border-color : var(--gray); color : var(--gray) } 
.btn_light_border { border-color : var(--gray); } 
.btn_light_border:hover { background-color : var(--gray); border-color : var(--gray); color : var(--white) } 




.bg_secondary { background-color : var(--secondary) } 
.bg_info { background-color : var(--info) } 
.bg_success { background-color : var(--success) } 
.bg_warning { background-color : var(--warning) } 
.bg_danger { background-color : var(--danger) } 
.bg_primary { background-color : var(--primary) } 
.bg_black { background-color : var(--black) } 
.bg_graydark { background-color : var(--darkgray) } 
.bg_gray { background-color : var(--gray) } 
.bg_light { background-color : var(--light) } 
.bg_indigo { background-color : var(--indigo) } 
.bg_lightblue { background-color : var(--lightblue) } 
.bg_navy { background-color : var(--navy) } 
.bg_purple { background-color : var(--purple) } 
.bg_fuchsia { background-color : var(--fuchsia) } 
.bg_pink { background-color : var(--pink) } 
.bg_maroon { background-color : var(--maroon) } 
.bg_orange { background-color : var(--orange) } 
.bg_lime { background-color : var(--lime) } 
.bg_teal { background-color : var(--teal) } 
.bg_olive { background-color : var(--olive) } 

.btn_app { border-radius: 3px; background-color: #f8f9fa; border: 1px solid #ddd; color: #6c757d; font-size: 12px; height: 60px; margin: 0 0 10px 10px; min-width: 80px; padding: 15px 5px; position: relative; text-align: center; } 
.btn_app:hover { color : #333 } 
.btn_app>.fa, .btn_app>.fab, .btn_app>.fad, .btn_app>.fal, .btn_app>.far, .btn_app>.fas, .btn_app>.ion, .btn_app>.svg-inline--fa { display : block; font-weight: bold; font-size : 20px } 
.btn_app > .badge { font-size: 10px; font-weight: 400; position: absolute; right: -10px; top: -3px; } 
.badge { display: inline-block; padding: .25em .4em; font-size: 75%; font-weight: 700; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25rem; transition: color .15s ease-in-out, background-colo    r .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; color : #fff } 
.sub_title { padding : 1rem; font-size : 1rem } 


.padding1 { padding : 1rem } 

.col-3 { width : 33.33% }
.col-4 { width : 25% }
.col-5 { width : 50% }




