@import url(reset.css);
@import url(common.css);
@import url(ionic.css);


aside { position : fixed; top : 0; left : 0; width : 250px; background-color: #343a40; height : 100%; overflow-y : auto }
aside .company_title { display : block; padding : 17px 15px; text-align:  center; font-size : 1.4rem; color : #fffc; border-bottom : 1px solid #4b545c }
aside .sidebar { overflow : auto; height : calc(100% - 58px)}
aside .user_paner { padding : 15px 25px; display : flex; align-items: center; font-size : 1.2rem; color : #fffc  }
aside .user_paner p { position : relative; overflow : hidden; border-radius : 100%; width : 50px; height : 50px; margin-right : 1rem; font-weight: bold;}
aside nav { padding : 0 .9rem }
aside nav a { position : relative; display : block; color : #c2c7d0; font-size : 1rem; padding : .6rem .6rem .6rem 1rem }
aside nav a:hover { background-color : #4b545c; border-radius : .4rem }
aside nav a i.fas { margin-right : .6rem }

aside nav ol { display : none }
aside nav ul > li.active ol { display : block }
aside nav ol a { padding-left : 2.5rem }
aside nav ul > li > a span { position : absolute; top : .6rem; right : .2rem; transition : all .3s ease }
aside nav ul > li.active > a span { top : .2rem; transform : rotate(-90deg); right : .4rem }
aside nav ul > li.active > a { background-color : #007bff; color : #fff; border-radius : 0.4rem  }
aside nav ul ol { margin-top : .3rem; }
aside .nav_sub.active a { background: rgba(255,255,255,.9); color :#343a40; border-radius : 0.4rem  }


#contentWrap { transition : margin .3s ease; margin-left : 250px; background-color : var(--lightgray) }
#contentNav { padding : 1rem; border-bottom : 1px solid #dee2e6; display : flex; justify-content: space-between; align-items: center; background-color: #fff; }
#contentNav ul li{ display : inline-block }
#contentNav a { color : rgba(0,0,0,.5); }
#contentNav a:hover { color : rgba(0,0,0,1) }
#contentNav ul li + li { margin-left : 1rem }
#contentNav .breadcrumb { font-size : .8rem }
#contentNav .breadcrumb b { color : #007bff; font-weight: bold;}

#contentWrapInner { padding : 1.2rem; overflow : hidden }
#pageTitle { font-size : 1.4rem; margin-bottom : 2rem }












