/**
 * Minified by jsDelivr using clean-css v5.3.3.
 * Original file: /npm/reset-css@5.0.1/reset.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

a { text-decoration: none;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

[hidden] {
    display: none
}

body {
    line-height: 1
}

menu,
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html, body { font-size : 1rem }
:root { 
    --blue: #007bff; 
    --lightblue : #3c8dbc; 
    --navy : #001f3f; 
    --indigo: #6610f2; 
    --purple: #6f42c1; 
    --pink: #e83e8c; 
    --red: #dc3545; 
    --fuchsia : #f012be;
    --maroon : #d81b60; 
    --orange: #fd7e14; 
    --yellow: #ffc107; 
    --green: #28a745; 
    --teal: #20c997; 
    --olive : #3d9970; 
    --cyan: #17a2b8; 
    --lime : #01ff70; 
    --white: #fff; 
    --dark: #343a40; 
    --black : #000000; 
    --gray: #6c757d; 
    --lightgray: #e9e9e9; 
    --darkgray: #343a40; 
    --primary: #007bff; 
    --secondary: #6c757d; 
    --success: #28a745; 
    --info: #17a2b8; 
    --warning: #ffc107; 
    --danger: #dc3545; 
    --light: #f8f9fa; 
	--success: #008A1E;
	--information: #2768FF;
	--primary: #246BEB;
	--primary5: #EFF5FF;
	--primary10: #D3E1FB;
	--primary20: #A7C4F7;
	--primary30: #7CA6F3;
	--primary40: #5089EF;
	--primary60: #1D56BC;
	--primary70: #16408D;
	--primary80: #0E2B5E;
	--primary90: #07152F;
	--secondary: #003675;
	--secondary5: #EDF1F5;
	--secondary10: #CDD7E4;
	--secondary20: #B4C4D6;
	--secondary30: #99B0CB;
	--secondary40: #2A5C96;
	--secondary50: #003675;
	--secondary60: #002B5E;
	--secondary70: #002046;
	--secondary80: #00162F;
	--secondary90: #000B17;
	--danger60: #D50136;
	--accent5: #FDF2F3;
	--point: #E71825;
	--point5: #FDF2F3;
	--point10: #FAD1D3;
	--point20: #F5A3A8;
	--point30: #F1747C;
	--point40: #EC4651;
	--point60: #B9131E;
	--point70: #8B0E16;
	--point80: #5C0A0F;
	--point90: #2E0507;
	--gray5: #F8F8F8;
	--gray10: #F0F0F0;
	--gray20: #E4E4E4;
	--gray30: #D8D8D8;
	--gray40: #C6C6C6;
	--gray50: #8E8E8E;
	--gray60: #717171;
	--gray70: #555555;
	--gray80: #2D2D2D;
	--gray90: #1D1D1D;
} 

[class^=bg-].disabled { opacity: .65; } 

a { transition : all .3s ease; color : #111 } 