@import url(layout.css); .wrap_dashboard .dash_board { display: flex; justify-content: space-between; gap: 1rem } 

.wrap_dashboard .dash_board li { flex-basis: 25%; } 
.wrap_dashboard .dash_board li:nth-child(1) a { background-color: #17a2b8 } 
.wrap_dashboard .dash_board li:nth-child(2) a { background-color: #28a745 } 
.wrap_dashboard .dash_board li:nth-child(3) a { background-color: #ffc107 } 
.wrap_dashboard .dash_board li:nth-child(4) a { background-color: #dc3545 } 
.wrap_dashboard .dash_board a { position: relative; display: block; padding-right: 100px; color: var(--white); padding: 1rem 1rem 50px 1rem; border-radius: 0.4rem } 
.wrap_dashboard .dash_board a strong { display: block; font-size: 2rem; margin-bottom: 1rem; font-weight: bold; } 
.wrap_dashboard .dash_board a .icon { position: absolute; top: 0; right: 0; width: 100px; height: calc(100% - 30px); display: flex; align-items: center; justify-content: center; color: rgba(0, 0, 0, 0.15); font-size: 3.5rem; transition: all .3s ease-in-out } 
.wrap_dashboard .dash_board a p { position: absolute; bottom: 0; left: 0; width: 100%; font-size: .8rem; text-align: center; line-height: 30px; background: rgba(0, 0, 0, .1); transition: all .3s ease-in-out } 
.wrap_dashboard .dash_board a p i { margin-left: .5rem } 
.wrap_dashboard .dash_board a:hover .icon { font-size: 3.7rem } 
.wrap_dashboard .dash_board a:hover p { background: rgba(0, 0, 0, .2); } 
.wrap_dashboard .dashboard_inner { display: flex; gap: 20px; flex-wrap: wrap; margin-top: 2rem; } 
.wrap_dashboard .dashboard_inner .inner { width: calc(50% - 20px); border: 1px solid #e9e9e9; padding: .8rem; border-radius: 0.3rem; background-color: var(--white); } 


.bbs_list_type01 p.bbs_title { padding: .8rem; border-bottom: 1px solid #e9e9e9; padding-bottom: .8rem; font-size : 0.9rem } 
.bbs_list_type01 a { display: block; width: 100%; font-size: .9rem; padding : 0.8rem } 
.bbs_list_type01 a span { display: inline-block; font-size: 0.8rem; padding: 0.5rem; background-color: #666; color: var(--white); margin-bottom: .4rem } 
.bbs_list_type01 ul li { margin: 0.5rem 0; border-bottom : 1px solid #e9e9e9 } 
.bbs_list_type01 ul li:nth-child(n+4) { border-bottom : none } 


.element_wrap { display: flex; gap: 20px; flex-wrap: wrap; margin-top: 2rem } 
.element_wrap > div { width: calc(50% - 20px); border: 1px solid #e9e9e9; padding: .8rem; border-radius: 0.3rem; height : 400px; background-color: var(--white); } 





.general_wrap { border : 1px solid var(--lightgray); border-radius : 0.5rem; background-color: var(--white); } 
.general_wrap > .inner { flex-basis: 50%; width : 50% } 
.general_wrap + .general_wrap { margin : 2rem 0 } 
.general_wrap .colo_palette { padding : 1rem 0 } 
.general_wrap h2.sub_title { border-bottom : 1px solid var(--lightgray); } 
.general_wrap h2.sub_title i { margin-right : .5rem } 
.general_wrap h3.sub_title { padding : 0 1rem 0.5rem 1rem } 
.general_wrap .flex { padding : 0 0.5rem; flex-wrap : wrap } 
.general_wrap .flex .palette_inner { padding : .5rem; width : 16.66%; } 
.general_wrap .flex .palette_inner p { position : relative; font-size : .8rem; color : #fff; text-align : left; padding : 0 1.2rem; height: 35px; line-height: 35px; } 
.general_wrap .flex .palette_inner p span { position : absolute; top : 0; right : 1rem; line-height : 35px } 
.general_wrap .flex .bg_light { color : #000 !important } 


.alert_wrap { padding : 1rem } 
.alert_inner { border-radius : 0.5rem; padding : 1rem 1.4rem; line-height : 150% } 
.alert_inner h5 { display : flex; align-items: center; font-size : 1.2rem; margin-bottom : .8rem } 
.alert_inner h5 i { margin-right : .8rem } 
.alert_inner + .alert_inner { margin : 1rem 0 } 
.alert_inner.alert-danger { background-color: var(--danger); color : var(--white) } 
.alert_inner.alert-info { background-color: var(--info); color : var(--white) } 
.alert_inner.alert-warning { background-color: var(--warning); } 
.alert_inner.alert-success { background-color: var(--success); color : var(--white) } 


.callout_wrap { padding : 1rem } 
.callout_wrap .callout_inner { position : relative; border-radius : 0.25rem; padding : 1rem 1.4rem; line-height : 150%; box-shadow :0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24) } 
.callout_inner h5 { display : flex; align-items: center; font-size : 1.2rem; margin-bottom : .8rem } 
.callout_inner + .callout_inner { margin : 1rem 0 } 
.callout_inner.callout-danger { border-left: 5px solid var(--danger) } 
.callout_inner.callout-info { border-left: 5px solid var(--info) } 
.callout_inner.callout-warning { border-left: 5px solid var(--warning) } 
.callout_inner.callout-success { border-left: 5px solid var(--success) } 



.tab_head_type01 { display : flex } 
.tab_head_type01 li { flex-basis: 33.33%; } 
.tab_head_type01 a { display : block; text-align : center; padding : 1rem; font-size : 1.4rem; border-bottom : 2px solid var(--lightgray) } 
.tab_head_type01 li.active a { border-bottom : 2px solid red } 


.tab_head_type02 li { display : inline-block } 
.tab_head_type02 a { display : block; text-align : center; padding : 1rem; font-size : 1.4rem; border-bottom : 2px solid transparent } 
.tab_head_type02 li.active a { border-bottom : 2px solid red } 



.tab_content { display : none; padding : 1rem } 
.tab_content.active { display : block } 


.description_wrap { padding : 1rem } 
.description_wrap dl dt,
.description_wrap dl dd { padding : 0.5rem 0 } 
.description_wrap dl dt { font-weight: bold; } 
.description_wrap dl.horizontal_dl { display : flex; flex-wrap : wrap; } 
.description_wrap dl.horizontal_dl dt { width : 33.333333% } 
.description_wrap dl.horizontal_dl dd { width : 66.666667% } 






.paging_wrap { margin: 1rem auto; border-radius: 0.2rem; counter-reset: pagination; text-align: center; } 
.pagination { text-align : center } 
.paging_wrap:after { clear: both; content: ""; display: table; } 

.paging_wrap ul,
.paging_wrap li { display: inline-block } 

.paging_wrap li { counter-increment: pagination; } 
.paging_wrap li:hover a { color: #fdfdfd; background-color: #1d1f20; border: solid 1px #1d1f20; } 
.paging_wrap li.active a { color: #fdfdfd; background-color: #1d1f20; border: solid 1px #1d1f20; } 
.paging_wrap li:first-child { float: left; } 
.paging_wrap li:first-child a:after { content: "Previous"; } 
.paging_wrap li:nth-child(2) { counter-reset: pagination; } 
.paging_wrap li:last-child { float: right; } 
.paging_wrap li:last-child a:after { content: "Next"; } 
.paging_wrap li a { border: solid 1px #d7d7d7; border-radius: 0.2rem; color: #7d7d7d; text-decoration: none; text-transform: uppercase; display: inline-block; text-align: center; padding: 0.5rem 0.7rem; } 
.paging_wrap li a:after { content: " " counter(pagination) " "; } 

.large li a { display: none; } 
.large li:first-child a { display: inline-block; } 
.large li:first-child a:after { content: "Previous"; } 
.large li:nth-child(2) a { display: inline-block; } 
.large li:nth-child(3) a { display: inline-block; } 
.large li:nth-child(4) a { display: inline-block; } 
.large li:nth-child(5) a { display: inline-block; } 
.large li:nth-child(6) a { display: inline-block; } 
.large li:nth-child(7) a { display: inline-block; } 
.large li:nth-child(8) a { display: inline-block; } 
.large li:last-child a { display: inline-block; } 
.large li:last-child a:after { content: "Next"; } 
.large li:nth-last-child(2) a { display: inline-block; } 
.large li:nth-last-child(3) { display: inline-block; } 
.large li:nth-last-child(3):after { padding: 0 1rem; content: "..."; } 

.middle li a { display: none; } 
.middle li:first-child a { display: inline-block; } 
.middle li:first-child a:after { content: "<"; } 
.middle li:last-child a { display: inline-block; } 
.middle li:last-child a:after { content: ">"; } 
.middle li:nth-child(2) a { display: inline-block; } 
.middle li:nth-child(3) a { display: inline-block; } 
.middle li:nth-child(4) a { display: inline-block; } 
.middle li:nth-child(5) a { display: inline-block; } 
.middle li:nth-last-child(2) a { display: inline-block; } 
.middle li:nth-last-child(3) { display: inline-block; } 
.middle li:nth-last-child(3):after { padding: 0 1rem; content: "..."; } 

.small li { display: none; } 
.small li:first-child { width: 50%; display: inline; } 
.small li:first-child a:after { content: "Previous"; } 
.small li:last-child { display: inline; } 
.small li:last-child a:after { content: "Next"; } 

.xsmall li { display: none; } 
.xsmall li.active { display: inline; } 
.xsmall li:first-child { display: inline; } 
.xsmall li:first-child a:after { content: "Prev"; } 
.xsmall li:last-child { display: inline; } 
.xsmall li:last-child a:after { content: "Next"; } 


.pagination { padding : 1rem 0; text-align: center; } 
.pagination a { color: black; padding: 8px 16px; text-decoration: none; } 
.pagination a.active { background-color: var(--primary); color: white; border-radius: 5px; } 
.pagination a:hover:not(.active) { background-color: #ddd; border-radius: 5px; } 


.general_wrap table { width : 100%; table-layout: fixed; } 
.general_wrap table th,
.general_wrap table td { border : 1px solid #e9e9e9; padding : 1rem } 

.swiper { position : relative; height : 340px; border-radius : 10px; margin-top : 1rem } 
.swiper-slide { display : flex; align-items: center; justify-content: center; background-color : #f1f1f1; } 

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, 
.swiper-pagination-fraction { top : inherit !important; bottom : 0 !important; padding : 1rem 0; } 


.GridSlide .swiper-slide { text-align: center; height: calc((100% - 30px) / 2) !important; display: flex; justify-content: center; align-items: center; } 
.autoplay-progress { position: absolute; right: 16px; bottom: 16px; z-index: 10; width: 48px; height: 48px; display: flex; align-items: center; justify-content: center; font-weight: bold; color: var(--swiper-theme-color); } 
 .autoplay-progress svg { --progress: 0; position: absolute; left: 0; top: 0px; z-index: 10; width: 100%; height: 100%; stroke-width: 4px; stroke: var(--swiper-theme-color); fill: none; stroke-dashoffset: calc(125.6px * (1 - var(--progress))); stroke-dasharray: 125.6; transform: rotate(-90deg); } 




